
[submodule "challenge1"]
	path = challenge1
	url = git@github.com:irene-fagnani/challenge1.git
[submodule "challenge2"]
	path = challenge2
	url = git@github.com:irene-fagnani/challenge2.git
[submodule "challenge3"]
	path = challenge3
	url = git@github.com:irene-fagnani/challenge3.git
